* {
    font-family: Arial, sans-serif;
    line-height: 1.5rem;
}

body {
    background-image: url("assets/Banner2.png");
    width: 100%;
    height: auto;
    background-size: contain;
    background-position: center 0;
    background-repeat: no-repeat;
    background-color: seashell;
}

.flex-container {
    display:flex;
    background-color: none;
    color:black;
}
.flex-container div {
    flex: 1;
}
.flex-container .main {
  flex: 4 1 0%;
}
.flex-container .nav {
    background-color: lightgray;
}

.alerte{
   background-color: antiquewhite;
   color:brown;
   border-color: coral; 
}

h1 {
    color: white;
    font-size:xx-large;
    font-weight: 900;
    text-shadow: 2px 2px grey;
}

p {
    padding: 0 10% 0 10%;
}

p.nav {
    position:sticky;
    top: 80px;
    line-height: 3rem;
}

a {
  font-weight:500;
  text-decoration: none;

}
a:link {
  color: darkgreen;
}
a:visited {
  color: green;
}
a:hover {
    border-top: 3px;
  color: lightgreen;
  background-color: black;
}
a:active {
  color: white;
}

footer {
    background-color: lightgray;
}

