* {
    font-family: Arial, sans-serif;
    line-height: 1.5rem;
}

body {
    background-image: url("assets/Banner2.png");
    background-size: contain;
    background-position: center 0;
    background-repeat: no-repeat;
}

.flex-container {
    display:flex;
    flex-direction: column;
    background-color: none;
    color:white;
    position:sticky;
    top: 0;
}

.flex-container div {
    flex:auto;
    padding: 10px 0 10px 0;
}

.alerte{
   background-color: antiquewhite;
   color:brown;
   border-color: coral; 
}

h1 {
    position:sticky;
    top: 50px;
    color: white;
    font-size:xx-large;
    font-weight: 900;
    text-shadow: 2px 2px grey;
}

p {
    padding: 0 10% 0 10%;
}

.navbar  {
    position:sticky;
    top: 80px;
    background-color: none;
    padding: 0 0 0 0;
}
a {
  background-color: gray;
  font-weight: bold;
  text-decoration: none;
}

a:link {
  color: white;
}
a:visited {
  color: lightcyan;
}
a:hover {
  color: lightgreen;
}
a:active {
  color: white;
}

.site-footer {
    background-color: lightgrey;
}