* {
    font-family: Arial, sans-serif;
    line-height: 1.5rem;
    box-sizing: border-box;
}

.header {
    padding-top: 0;
    text-align: center;
    background-color: lightgray;
    position: sticky;
    top: 0px;
    width: 100%;
}

body {
    margin: 0;
    background-color: #F7E8CB;
    text-align: left;
}

/* Top image with text overlay */
.container {
  position: relative;
  padding-bottom: 0;
}
/* Centered title text */
.text-block {
  position: absolute;
  top: 35%;
  width: 100%;
  text-align:center;
}
p {
    padding-left: 2rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


a {
color: #0b879c;
text-decoration: none;
}

a:hover {
    color: #0abcdb;
}

.flex-container {
    display:flex;
    width: 100%;
    padding-top: 0;
}
.flex-container-main {
  flex: 1;
  padding: 10px;
  text-align: left;
}
.flex-container-menu {
    background-color: lightgray;
    padding: 0 0.5rem;
    width: 15vw;
 /*   transition: all 2s;*/
}
 /*  .flex-container-menu:hover {
 width: 25vw;
}*/

h1 {
    color: white;
    font-weight: 900;
    text-shadow: 2px 2px grey;
    font-size: 7vw;
}

h2 {
    color: #555555;
    line-height: 1.5;
    font-size: 1.3rem;
    text-align: center;
}

h4 {
    font-size: 2vw;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 10px white;
}

p.strong {
   background-color: white;
   color:crimson;
   padding: 5px;
   margin: 0 10%;
}

p.navtxt {
    position:sticky;
    top: 80px;
    line-height: 3;
    color: black;
    font-weight: 900;
    text-align: left;
}

.navlinks {
    text-transform: uppercase;
}

footer {
    width: 100%;
    background-color: lightgray;
    font-size: 0.8rem;
    text-align: center;
}

